# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist

# The Graph
packages/subgraph/generated
packages/nextjs/contracts/deployedContracts.ts
packages/subgraph/networks.json