@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

/* styles/globals.css or YourComponent.module.css */
.highlight-code {
  font-family: "Courier New", Courier, monospace; /* Use Courier New font */
  background-color: grey; /* Light gray background */
  padding: 0 4px;
  border-radius: 8px; /* Rounded corners */
  display: inline-block; /* Ensures the background only covers the text */
  margin-left: 4px; /* Add margin to create space outside the span */
  margin-right: 4px; /* Add margin to create space outside the span */
  margin-top: 1px; /* Add margin to create space outside the span */
  margin-bottom: 1px; /* Add margin to create space outside the span */
}
