@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}

p {
  margin: 1rem 0;
  font-family: "Poppins", sans-serif;
}

.btn {
  @apply shadow-md;
  font-family: "Poppins", sans-serif;
}

.btn.btn-ghost {
  @apply shadow-none;
  font-family: "Poppins", sans-serif;
}

/* styles/globals.css or YourComponent.module.css */
.highlight-code {
  font-family: "Courier New", Courier, monospace; /* Use Courier New font */
  background-color: grey; /* Light gray background */
  padding: 0 4px;
  border-radius: 8px; /* Rounded corners */
  display: inline-block; /* Ensures the background only covers the text */
  margin-left: 4px; /* Add margin to create space outside the span */
  margin-right: 4px; /* Add margin to create space outside the span */
  margin-top: 1px; /* Add margin to create space outside the span */
  margin-bottom: 1px; /* Add margin to create space outside the span */
}

@font-face {
  font-family: "Sportypo-Regular";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../public/fonts/Sportypo/Sportypo-Reguler.ttf") format("truetype");
}

/* Importing the fonts */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype"); /* Adjust the path and format as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype"); /* Adjust the path and format as needed */
  font-weight: bold;
  font-style: normal;
}

/* Add other font imports similarly */
@font-face {
  font-family: "Euclid";
  src: url("/fonts/Euclid/Euclid-Regular.ttf") format("truetype"); /* Adjust the path and format as needed */
  font-weight: normal;
  font-style: normal;
}

/* Example for italic or other styles */
@font-face {
  font-family: "Euclid";
  src: url("/fonts/Euclid/Euclid-Italic.ttf") format("truetype"); /* Adjust the path and format as needed */
  font-weight: normal;
  font-style: italic;
}

.builders-basecamp-text {
  font-family: "Sportypo-Regular", sans-serif;
}

.the-graph-text {
  font-family: "Poppins", sans-serif;
}
